<!DOCTYPE html>
<html lang="en" ng-app="profile">
	<head>
		<title>Debanjan Ghosh</title>
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	</head>
	<body ng-controller="MainController">
		<header>
			<div class="container">
				<ul class="nav navbar-nav headerTitle">
					<li><a href="#" ng-click="frontPage()">DEBANJAN GHOSH</a></li>
				</ul>
				<ul class="nav navbar-nav headerLinks">
					<li><a href="#" ng-click="about()">ABOUT</a></li>
			        <li><a href="#">CONTACT</a></li>
			        <li><a href="cv.html">CV</a></li>
				</ul>
			</div>
		</header>

		<div class="container main">
			<div class="profilePage" ng-hide="about">
				<div class="profile">
					<img ng-src="{{image}}" width="100%" alt="Debanjan Ghosh">
				</div>
				<div class="roles">
					<p>{{role}}</p>
				</div>
			</div>

			<about ng-if="hello"></about>
		</div>

		<script src="lib/angular/angular.js"></script>
		<script src="js/app.js"></script>	
		<script src="js/MainController.js"></script>
	</body>
</html>