@import "bootstrap";

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$cv-bg-color: #0F0F12;
$cv-margin: 10px;

body {
  font: 100% $font-stack;
  background-color: $cv-bg-color;
  color: $primary-color;

  div {
    margin: $cv-margin;
  }

  .page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    width: 21cm;
    height: 29.7cm; 
  }

  .heading {
    font-size: 20px; 
    margin-bottom: $cv-margin;
    color: #4C398B;
  }

  .summary {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .smallText {
    font-size: 12px;
  }

  .title {
    padding-bottom: 2*$cv-margin;
    color: #4C398B;
  }

  .center {
    text-align: center;
  }

  .name {
    font-size: 50px;
    margin: $cv-margin;
    margin-bottom: 2*$cv-margin;
    color: #4C398B;
  }

  .text {
    margin-top: $cv-margin;
    margin-bottom: $cv-margin;
    font-size: 14px;
  }

  .skillsEd {
    width: 100%;
    display: inline-block;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .skillTable{
    width: 35%;
    display: inline-block;
    float:left;
  }

  .skillsHead {
    margin: 0;
  }

  .education{
    width: 60%;
    display: inline-block;
    float: left;
    margin-top: 0;
  }

  .qualification {
    margin: 0;
  }

  .skill {  
    float: left;
  }

  .filledLevel {
    background-color: #4C398B;
  }

  .skillLevel {
    width: 10px;
    height: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #4C398B;
  }

  .divider{
    border-left:1px solid red;
  }

  .glyphicon-phone-alt:before {
    margin-right: 5px;
  }

  .glyphicon-envelope:before {
    margin-right: 5px;
  }

  .titleDetails {
    display: inline-block;
  }

  .profile {
    width: 10%;
    float: right;
    display: inline-block;
  }

  @media print {
    .heading {
      color: #4C398B !important;
    }

    .title .name {
      color: #4C398B !important;
    }

    .title .glyphicon {
      color: #4C398B !important;
    }

    .title .smallText{
      color: #4C398B !important;
    }

    .table-striped tr:nth-child(odd) { 
      background-color: #f9f9f9 !important;
      -webkit-print-color-adjust: exact; 
    }

    .table td .filledLevel {
      background-color: #4C398B !important;
    }
  }
}