@import "bootstrap";
@import "fontawesome";

/* ------------------------------- FONT FACES -------------------------------------------- */
@font-face {
    font-family: 'fira_sansbook';
    src: url('../fonts/firaSans/firasans-book-webfont.woff2') format('woff2'),
         url('../fonts/firaSans/firasans-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sanslight';
    src: url('../fonts/firaSans/firasans-light-webfont.woff2') format('woff2'),
         url('../fonts/firaSans/firasans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sansheavy_italic';
    src: url('../fonts/firaSans/firasans-heavyitalic-webfont.woff2') format('woff2'),
         url('../fonts/firaSans/firasans-heavyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sansbold';
    src: url('../fonts/firaSans/firasans-bold-webfont.woff2') format('woff2'),
         url('../fonts/firaSans/firasans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sanssemibold';
    src: url('../fonts/firaSans/firasans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/firaSans/firasans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sansmedium';
    src: url('../fonts/firaSans/firasans-medium-webfont.woff2') format('woff2'),
         url('../fonts/firaSans/firasans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* --------------------------VARIABLES--------------------------------------*/

$font-stack: "fira_sanslight";
$primary-color: #FFF;
$secondary-color: #ff4eff;
$bg-color: #0F0F12;
$global-margin: 10px;
$soundcloud-col: #ff3a00;

/* ------------------------CSS----------------------------------------------*/

body {
  font-family: $font-stack;
  background-color: $bg-color;
  color: $primary-color;

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
  }

  header {
    font-size: 20px;
  }

  .nav > li > a, .nav > li > p {
    color: $primary-color;
  }

  .headerLinks {
    float: right;
    margin-top: $global-margin;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;

    justify-content: space-around;
  }

  .headerTitle {
    margin-top: $global-margin;

    li > a {
      color: $secondary-color;
    }
  }

  .nav > li > a:hover, .nav > li > a:focus {
    background-color: $bg-color;
    color: $secondary-color;
  }

  .main {
    margin-top: $global-margin;

    .profilePage {
      width: 100%;
      display: inline-block;
      margin-top: 30px;

      .profile {
        width: 35%;
        float: left;
        display: inline-block;
      }

      .roles {
        font-family: 'fira_sansbook';
        margin-left: $global-margin;
        width: 60%;
        display: inline-block;
        font-size: 5em;

        p {
          margin-left: 70px;
        }

        .about {
          font-size: 30px;
        }
      }
    }

    .about {
      font-size: 2em;

      .soundcloud {
        color: $soundcloud-col;
      }
    }
  }

  .socialIcons {
    margin-left: $global-margin;
    position: absolute;
    left: 40%;
  }

  /*Change icons circle size and color here*/
  .social-icons .fa {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 2em;
    background-color: #FFF;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3); 
  }

  .social-icons.icon-circle .fa{ 
    border-radius: 50%;
  }

  .social-icons .fa-facebook {
    color:#3C599F;
  }

  .social-icons .fa-twitter {
    color:#32CCFE;
  }

  .social-icons .fa-soundcloud {
    color:#f50;
  }

  .social-icons .fa-envelope {
    color: #4885ed;
  }

  @media all and (max-width: 1200px) {
    .main .roles {
      font-size: 3em !important;
    }
  }

  @media all and (max-width: 800px) {
    .headerLinks {
      float: left;
      justify-content: space-around;
    }

    .main .roles {
      font-size: 2.5em !important;
    }

    .socialIcons {
      left: 0;
      float: left;
    }
  }

  @media all and (max-width: 600px) {
    .headerLinks {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      padding-top: $global-margin;
    }

    .main .roles {
      font-size: 2.5em !important;
    }

    .social-icons .fa {
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 1.5em;
    }

  }

  @media all and (max-width: 550px) {
    .main .roles {
      font-size: 2em !important;
    }
  }
}